{
  "port": {{ fb_port }},
  "baseURL": "",
  "address": "{{ fb_address }}",
  "log": "{{ fb_log_dir }}/filebrowser.log",
  "database": "{{ fb_config_dir }}/filebrowser.db",
  "root": "{{ fb_root }}"
}
