# The configuration file holding the Grafana Alloy configuration.
CONFIG_FILE="{{ alloy_config_file }}"

# User-defined arguments to pass to the run command.
CUSTOM_ARGS="{{ alloy_run_args }}"

# Restart on system upgrade. Defaults to true.
RESTART_ON_UPGRADE={{ alloy_restart_on_upgrade }}
