[Unit]
Description=Unbound exporter for prometheus
Documentation=https://github.com/letsencrypt/unbound_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/unbound_exporter -unbound.host="unix:///run/unbound.ctl"
Restart=always

[Install]
WantedBy=multi-user.target
